[2015-08-03 15:05] sarathnk opened #1 "Select One"
The library is very  nice.How can i add select one on this adapter.

[2015-08-03 15:12] arcadefire commented on #1
Hello @sarathnk,

can you be more precise? :)

[2015-08-03 15:17] sarathnk commented on #1
Mean First Shows  Select One
like this
http://stackoverflow.com/a/4776351/1479610

[2015-08-03 15:17] #1 closed

[2015-08-04 04:51] curioustechizen opened #2 "Suggestion: Make the API similar to android.widget.Spinner"
This is a great widget. I've noticed that the default Spinner that comes with the design library is a bit confusing for users.

I have a suggestion: make the API of `NiceSpinner` compatible with `android.widget.Spinner` so that it acts as a so-called "drop-in replacement". This includes stuff like using `setAdapter` instead of `attachDataSource` and using `setOnItemSelectedListener` instead of `se

[2015-08-04 06:06] arcadefire commented on #2
Hello @curioustechizen, it's a great idea, I will add these methods in the next iteration!

[2015-08-04 13:14] lolobosse opened #3 "Android Compatibility"
Hi there,

While testing your project I found two bugs happening with `Sony ST2i` running `Android 4.0.4` (`15`). The fist seems easy to solve it's a matter of color, the color of the selected spinner is not set gradually: you directly something grey like this:

![issue1](https://cloud.githubusercontent.com/assets/5024077/9060890/29349830-3ab8-11e5-99e3-e096fdffc750.png)

The second issue is more

[2015-08-04 13:18] arcadefire commented on #3
Hey @lolobosse, nice one! I will investigate on these. The main issue is that I have no access to Icecream devices, so I might take a while. If you discover some way to fix these, feel free to approach me or do a PR! :)

[2015-08-04 14:13] lolobosse commented on #3
I think it could be possible to reproduce that in emulator.
Try that out and I've an access to some 4.0.x devices, so I'll try to figure out what's going on ...

[2015-08-06 14:34] anthony-skr opened #4 "ListView onClick listener not called"
Hello,

I noticed the ListView onClick listener is not working on pre-Lollipop devices.

Checked on Internet, found this : http://stackoverflow.com/a/11244139/2743222

I replaced PopupWindow construction by this :

[code]

Works like a charm :+1:

Anthony.

[2015-08-06 14:44] arcadefire commented on #4
Hey @anthony-skr, thank you for sharing! I'll up a fix asap!

[2015-08-08 12:30] arcadefire commented on #4
This has been fixed in 7859190131248f2248b15762c050f669c6754add, thank you!

[2015-08-08 12:30] #4 closed

[2015-08-08 12:34] arcadefire commented on #3
That second one (the critical) should be solved with 7859190131248f2248b15762c050f669c6754add, can you check?

[2015-08-08 18:40] arcadefire commented on #2
I've added the `onSelectedListener` support plus `setAdapter` in the last commits. For now I leave this open. If you can list all these methods it would be great make NiceSpinner to support (I don't think it would be necessary to implement them all).

[2015-08-09 11:12] curioustechizen commented on #2
In my experience the two that you have already implemented are the most common methods used with a Spinner. I would leave the rest as lower priority :-)

[2015-08-09 12:46] arcadefire commented on #2
Thank you for your feedbacks! :)

[2015-08-09 12:46] #2 closed

[2015-08-10 13:13] lolobosse commented on #3
Cannot yet, I'm on holidays in the middle of Scotland without internet and
without my API 15 device...

I'm back in two weeks
Am 08.08.2015 1:34 nachm. schrieb "Angelo Marchesin" <
notifications@github.com>:

[2015-08-11 14:13] talhaqamar opened #7 "How to import it in android studio ?"
There is no version no mentioned.How to import in android studio ?
Thanks

[2015-08-11 18:04] arcadefire commented on #7
You can add nice spinner to your AS project by importing it as a module for now.

[2015-08-12 15:42] #7 closed

[2015-08-26 07:30] gunhansancar opened #8 "Dropdown open style paddings are lost"
For whatever the reason, when I open and close the dropdown list then the opened style paddings are lost.

I couldn't find the reason so I changed the viewholder to store the initial paddings as a temporarily solutions.

    protected static class ViewHolder {
        private int paddingLeft;
        private int paddingRight;
        private int paddingTop;
        private int paddingBottom;

[2015-08-27 13:30] gunhansancar commented on #8
I found the problem.
Some of the settings in my theme cause this problem.

        <item name="windowActionBar">false</item>
        <item name="windowNoTitle">true</item>
        <item name="android:fitsSystemWindows">true</item>

When I remove this items in my theme then the above problem do not happen.

[2015-08-27 13:30] #8 closed

[2015-08-28 08:57] iluhcm opened #9 "Crashed when I set hideArrow="true" in the xml file."
Hi,

Great project just like your name :). Sorry to trouble you for a moment. I met a problem when I set `hideArrow="true"` in my xml files as the following seen:
[code]

When **I clicked on this text view, my app crashed**, see the following:

[code]

**It seems that you haven't initialised `mDrawable` when hideArrow is set to true. **

[2015-08-28 13:01] arcadefire commented on #9
Hey, thank you for reporting this and for the PR as well :)

[2015-09-01 11:57] #9 closed

[2015-09-05 00:00] falkontre opened #12 "ClassCastException with Appcompat module"
Hi Angelo,

It seems that the spinner triggers an Exception if the project uses the Appcompat library (com.android.support:appcompat-v7:23.0.0)

java.lang.ClassCastException: android.support.v7.widget.AppCompatSpinner cannot be cast to org.angmarch.views.NiceSpinner

[2015-09-05 00:06] #12 closed

[2015-09-05 00:07] falkontre commented on #12
Sorry, I've used <Spinner...> in my layout instead of <org.angmarch.views.NiceSpinner>

[2015-09-07 11:20] arcadefire commented on #12
Doon't worry! :+1:

[2015-09-28 19:40] i-Rohan commented on #3
How do I include this library in my project. what should I add in 'build.gradle'?

[2015-09-29 06:36] lolobosse commented on #3
@i-Rohan
1. Please create a separate issue for that
2. There is no gradle build that I know, you have to clone and include as a submodule.

[2015-10-12 16:20] KingOfBeer opened #13 "upload to maven"
good work there... can you upload it to mavencentral?

[2015-10-14 08:26] arcadefire commented on #13
Sure, I will do this asap! :)

[2015-10-29 17:51] javie129 opened #14 "Error to reload a Adapter in the NiceSpinner"
Hello guys, I found an error when I tried to reload data to a same NiceSpinner. With the regular spinner I can reload the data.

[2015-11-14 12:03] jovanpreet opened #16 "Array index out of bound exception when using in recyclerview"
Here is the logcat:

[code]

This occurs when we select different spinner value of particular cell and then scroll the recyclerview. Basically the mSelectedIndex of `nicespinner.java` doesn't get updated and holds the previous selected item index of different cell which generate out of bound exception.

[2015-11-17 11:50] arcadefire commented on #16
Hello @jovanpreet, I'll give it a look asap, thank you!

[2015-11-17 11:59] jovanpreet commented on #16
@arcadefire if you need my code implementation or anything else i will provide you. And by far your spinner is the best spinner. One more thing i am using [UltimateRecyclerView](https://github.com/cymcsg/UltimateRecyclerView)

[2015-11-17 12:46] arcadefire commented on #16
@jovanpreet thank you! :)
I'll try a shot with that library you have linked and see what happens. I'll keep you updated.

[2015-12-04 07:18] jovanpreet commented on #16
Hey @arcadefire any progress in this.

[2015-12-04 10:20] arcadefire commented on #16
Hey, sorry, I was in very busy work weeks, I'll drop an eye in the upcoming weekend!

[2015-12-06 11:36] arcadefire commented on #16
I pushed a commit on the dev branch that should solve the issue. Can you check @jovanpreet? Thanks!

[2015-12-06 11:38] arcadefire commented on #14
Hello @javie129, can you be more specific?

[2015-12-06 11:39] arcadefire commented on #3
I'm not sure if this I still valid, any news?

[2015-12-13 16:34] lolobosse commented on #3
@arcadefire: no idea, I'll try to give a try in the next days. I'm at the office tomorrow

[2015-12-18 09:08] vigneswarandavarapu opened #19 "text color of each item not changing"
i am using your library in my project.but text color not changing.even iam using  NiceSpinnerAdapterWrapper.please solve my problem

![mobogenie_20151218_143303](https://cloud.githubusercontent.com/assets/14231307/11893205/af847634-a594-11e5-99d5-e87bb36ef275.png)
![mobogenie_20151218_143324](https://cloud.githubusercontent.com/assets/14231307/11893206/afd6ff26-a594-11e5-90a4-59caca59122f.png)

[2015-12-19 05:16] jovanpreet commented on #16
ok i will check and let you know

[2015-12-29 09:38] guoyoujin opened #20 "Whether can set the default hint"
Whether can set the default hint

[2016-01-21 07:29] Andecy commented on #13
@arcadefire mavenCentral ...please

[2016-01-28 23:53] jaredrummler commented on #13
I used this repo as a base and uploaded it to maven central.

https://github.com/jaredrummler/Material-Spinner

It has RTL support and the ability to set the background and text colors (spinner looked bad on dark themes).

[2016-03-11 07:59] petma commented on #20
you can call setSelectedIndex(int index) to set the default hint

[2016-03-11 08:05] guoyoujin commented on #20
@petma Thank you for your answer, but you did not understand what I mean, I want to achieve similar input box default effect of clues, but I have solved the problem

[2016-03-11 08:05] #20 closed

[2016-05-21 15:41] SusionSuc commented on #19
the same problem

[2016-05-22 07:57] SusionSuc commented on #19
By modify a little source code, I have solve this problem. I don't have time to find more.

  public View getView(int position, View convertView, ViewGroup parent) {
        TextView textView;

        if (convertView == null) {
            convertView = View.inflate(mContext, R.layout.spinner_list_item, null);
            textView = (TextView) convertView.findViewById(R.id.tv_tinted_spinner);

[2016-05-31 03:35] XinYiWorld opened #22 "The problem with the arrow"
I used nice-spinner  in a project ,the arrow is normal;however,when i used it in another project,the direction of the arrow is to left,and the drawable of the arrow changed?please help me out,thanks!
![aaaaaaa](https://cloud.githubusercontent.com/assets/14458960/15662484/d14c83e0-2723-11e6-90e4-c3d19a400b6b.png)

[2016-05-31 03:45] XinYiWorld commented on #22
Can it be the diffferent themes of my app results in the problem?

[2016-06-27 22:39] guidedways opened #23 "Popup window does not have padding at the bottom"
Since it 'WRAP's around the content, the Popup window becomes as tall as the screen without any gap below it in case the items inside the spinner are in dozens.

[2016-07-04 09:05] abdulrahmanmajeed opened #24 "Avoid Repeatation of background in adapter"
I am trying to use android:background="@drawable/box_edittext2" but it did not work and If I try to to put this in JAVA it repeat the background for each row ... is it possible to put adapter's row background different and NiceSpinner Background differnet

[2016-07-28 18:34] lazaro10 opened #26 "US41 - Eu, como chef, desejo definir o turno que eu posso trabalhar, para informar se eu estou disponível para prestar um serviço."
- Existirão 3 status de disponibilidade do cozinheiro
 - Disponível
- Negociável
-Ocupado

[2016-07-28 18:37] #26 closed

[2016-08-10 10:19] vipulbansal opened #27 "problem with nice spinner."
I am having an issue with nice spinner. The text displayed inside the spinner is getting deformed in terms of formatting once the spinner arrow is clicked more than once. Kindly tell a work around.

[2016-11-30 07:40] pcegarra commented on #19
Thank you SusionSuc

[2017-01-19 18:17] khalifaqwame commented on #19
use the following code in your layout xml
app:textTint="@color/black"

[2017-05-18 09:58] #14 closed

[2017-05-18 09:58] #16 closed

[2017-05-19 16:06] arcadefire commented on #19
This should've been solved with 97c610075530bfcd09fbf0d7efaf5ba632ad20f1. 👍
Closing this for now, feel free to reopen it if the issue persists.

[2017-05-19 16:06] #19 closed

[2017-05-27 21:59] #3 closed

[2017-05-27 22:04] arcadefire commented on #13
I've uploaded this library on JitPack. The details to include it in your project are in the updated readme file.

[2017-05-27 22:04] #13 closed

[2017-05-28 11:56] arcadefire commented on #27
Hello there, can you describe the steps how to reproduce this? (or maybe a gif or a screenshot)

[2017-05-28 13:19] arcadefire commented on #23
With e4986cf8fcfdbc005c042116188df5c4247bcdc8 you can specify the bottom padding for the drop-down list. 👍

[2017-05-28 15:11] #23 closed

[2017-05-28 15:11] arcadefire commented on #22
Hello @XinYiWorld, I cannot really tell what is your problem, the screenshot is really small.

[2017-06-05 07:31] hugoFather opened #30 "Why the item center inside？"
i click the item found that the inner text of the item is center，can you help me?thank you

[2017-06-05 15:36] arcadefire commented on #30
Hello, what's the issue exactly? You'd like an option to choose the text alignment?

[2017-06-06 01:59] kinghom opened #31 "error occurred nullpointerexception if less down 24sdk"
java.lang.NullPointerException
                                                                          at android.animation.PropertyValuesHolder.setupSetterAndGetter(PropertyValuesHolder.java:505)
                                                                          at android.animation.ObjectAnimator.initAnimation(ObjectAnimator.java:487)

[2017-06-06 02:16] kinghom commented on #31
run in android 4.0.x  occurred error nullpointerexception

[2017-06-06 09:22] hugoFather commented on #30
The default item（Clicked Item）is not centered， but the text in the item is automatically centered when the spinner drop down。It looks very strangle，Why not all in center or not in center both Item？Thank you，although i have been change other style，i really want to know why。

[2017-06-06 12:39] mymbrooks opened #32 "Value Text DataSource"
Hi,
    It's possible to set a custom class as datasource ? I want to use value text to bind. Query use value, Display use text. Thanks.

[2017-06-08 02:11] wshx21 opened #33 "how to change textSize？"
how to change textSize？

[2017-06-10 08:24] arcadefire commented on #31
Hello, does this happen right away when you click on the spinner? I couldn't test on an api less that 16, but from JellyBeans on works without any issue.

[2017-06-10 08:24] #22 closed

[2017-06-10 08:25] arcadefire commented on #33
You can't at the moment, I'll try to push an update to solve this issue.

[2017-06-10 08:26] arcadefire commented on #32
Seems like a good idea, can you provide more context?

[2017-06-10 08:26] arcadefire commented on #24
It's not possible right now, I'll give a look into it.

[2017-06-12 02:13] wshx21 commented on #33
thank you

[2017-06-12 02:15] wshx21 commented on #33
you can creat a inerface to change item layout

[2017-06-12 18:28] mehul4795 opened #34 "Constraint layout stops rendering"
When this library is used, the constraint layout stops rendering.

[2017-06-13 12:55] ezekielchow opened #35 "Spinner open towards the top"
For some reason, the spinner open towards the top covering the other components.

![screenshot_2017-06-13-20-48-41-297_com example ezekielchow foodorder_mvp](https://user-images.githubusercontent.com/4429691/27083267-92a7fe54-507a-11e7-97f6-64ec3c49f7d7.png)

[2017-06-15 11:10] wshx21 opened #36 "In listView or RecyclerVeiw BUG"
you can try it in RecyclerView，has some bugs

[2017-06-17 09:20] #36 closed

[2017-06-17 10:02] arcadefire commented on #34
Please, add some details/screenshot.

[2017-06-17 10:04] #27 closed

[2017-06-27 09:30] CCTV-11 opened #37 "救助"
compile 'com.github.arcadefire:nice-spinner:1.2'无法成功添加到项目

[2017-06-28 12:53] #37 closed

[2017-07-01 12:46] KaiserPerwez commented on #34
![error](https://user-images.githubusercontent.com/22406803/27762134-1ed63eec-5e89-11e7-995f-c08996d438d0.png)
![image](https://user-images.githubusercontent.com/22406803/27762142-3ccde378-5e89-11e7-95f5-b9ea7c6e31a1.png)

[2017-07-07 17:28] karanthakakr04 commented on #34
I am facing this same issue. This repo breaks the constraints layout. No matter what you do it won't work.

[2017-07-08 05:25] 475789729 opened #38 "nice-spinner not support in scrollview! the listview in popupwindow cannot scroll!"

[2017-07-08 21:50] arcadefire commented on #34
It works fine on my machine.
<img width="355" alt="screen shot 2017-07-08 at 23 49 11" src="https://user-images.githubusercontent.com/3945083/27989400-14af0278-6438-11e7-82ce-d8964b5d4c5d.png">

Can you maybe upload a repo with a sample project showing the bug and link this repo here?

[2017-07-08 21:50] #31 closed

[2017-07-08 21:52] #30 closed

[2017-07-12 10:36] 1037390459 commented on #35
This would happen if the item which inflates the spinner is close to the bottom of the screen.

[2017-07-13 05:37] hanmeimei888 commented on #34
i'm facing this issue too
      repo here:

Rendering failed with a known bug. Please try a rebuild.  The following classes could not be instantiated:
- android.support.v7.widget.AppCompatImageView (Open Class, Show Exception, Clear Cache)
- android.support.v7.widget.AppCompatTextView (Open Class, Show Exception, Clear Cache)
- org.angmarch.views.NiceSpinner (Open Class, Show Exception, Clear Cach

[2017-07-13 05:38] hanmeimei888 commented on #34
`Rendering failed with a known bug. Please try a rebuild.  The following classes could not be instantiated:
- android.support.v7.widget.AppCompatImageView (Open Class, Show Exception, Clear Cache)
- android.support.v7.widget.AppCompatTextView (Open Class, Show Exception, Clear Cache)
- org.angmarch.views.NiceSpinner (Open Class, Show Exception, Clear Cache)
 Tip: Use View.isInEditMode() in your cu

[2017-07-13 06:20] hanmeimei888 commented on #34
![3 y 0d b787h7 w euf r6](https://user-images.githubusercontent.com/25998847/28153130-632686e6-67d6-11e7-9bd2-63d78b7ab2a5.png)
this is the mistake studio repo

[2017-07-13 06:21] hanmeimei888 commented on #34
and i solve it by change compileSdkVersion 23  --> compileSdkVersion 24

[2017-07-13 06:34] hanmeimei888 commented on #34
@karanthakakr04 @arcadefire

[2017-07-13 06:35] hanmeimei888 commented on #34
ps: i have 0 followers now ,could you click following for me ? It's just a cutie's hope...

[2017-07-15 22:11] comm1x commented on #38
+1

[2017-07-17 02:39] hanmeimei888 commented on #31
i met this issue too、

[2017-07-17 02:40] hanmeimei888 commented on #31
it's happend when i use spinner on dialog  ,crash at click

[2017-07-17 06:57] hanmeimei888 opened #39 "crash when using in dialog"
![normal useinactivity](https://user-images.githubusercontent.com/25998847/28257795-f4bf663c-6aff-11e7-8555-22d106c995d1.png)
it's use in normal activity   all is well

and then
![crash_useindialog](https://user-images.githubusercontent.com/25998847/28257811-0901534e-6b00-11e7-9e4e-44c6b243b344.png)
it's use in dialog  crash at click

and it's the log
![logcat](https://user-images.githubuserconten

[2017-07-18 05:11] hanmeimei888 commented on #39
I solve this problem, i'll  submit a modify version later (After i finnish the project on hand

[2017-07-18 05:42] Moseqi opened #40 "Cardview not showing"
Cardview became invisible in layout preview android studio. When i remove your library it works again.
Thanks in advance

[2017-07-28 03:17] kcjian commented on #39
问题解决了吗？

[2017-08-02 05:32] hanmeimei888 commented on #39
@kcjian 解决了   你如果只是想不崩溃的话 setArrowDrawable 调用一下就可以了 不过后续还有一些问题..我是直接down下来改这个项目代码的 (ps: 改完之后觉得在dialog中使用spinner的需求貌似不是很合理 ..

[2017-08-03 02:54] nuoxd opened #41 "How to use it?"
I can't understand the README.MD

_Sent from my Xiaomi MI 4LTE using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 12:19] AhmadullahSaikat opened #42 "Error when Build"
java.lang.NullPointerException: Attempt to invoke virtual method 'void org.angmarch.views.NiceSpinner.attachDataSource(java.util.List)' on a null object reference

[2017-08-09 06:26] #42 closed

[2017-08-21 09:35] TongZhang1314 commented on #35
No, I'm spinner in the top still has this problem

[2017-08-26 06:50] Alwaysso opened #43 "How to scroll?"
How to scroll?

[2017-08-28 12:45] Baneeishaque commented on #2
please add setSelection(positiion) method...

[2017-09-01 23:31] #41 closed

[2017-09-13 07:15] jiangwenn commented on #31
i met this problem in android 4.4 too, the problem was caused by `arrowDrawable` is null and `isArrowHidden` is true.

 i fix this problem by added the below code
[code]

[2017-09-23 11:01] rahimlis opened #44 "Issue on Samsung On5 and On7 devices"
got few crashes from these devices:

`Caused by android.view.InflateException: Binary XML file line #16: Error inflating class org.angmarch.views.NiceSpinner
       at android.view.LayoutInflater.createView(LayoutInflater.java:640)
       at android.view.LayoutInflater.createViewFromTag(LayoutInflater.java:750)
       at android.view.LayoutInflater.rInflate(LayoutInflater.java:813)
       at andro

[2017-09-26 10:54] ChenQingZhen opened #45 "I found a bug:NiceSpinner can't show the PopupWindow，when I set NiceSpinner=“48dp”"
[code]

[2017-09-27 03:00] mcp1993 opened #46 "How to confuse"
How to confuse or need???

[2017-09-29 07:01] GitCod-Man opened #47 "the text in the list are not seen,it's white in simulator"
the list text ,text color is white ?
![image](https://user-images.githubusercontent.com/16233416/31004466-20e60fe8-a527-11e7-8d4a-7a180d3f6620.png)

[2017-09-30 01:52] GitCod-Man opened #48 "how to change the border and border color with NiceSpinner"
I want to changge the NiceSpinner's border ,and i try to set the background with shape.xml ,but it didn't work!
    <org.angmarch.views.NiceSpinner
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:spinnerMode="dialog"
        android:id="@+id/nice_spinner"
        android:layout_gravity="center"
        android:background="@drawable/edittext_

[2017-09-30 02:01] GitCod-Man commented on #33
@arcadefire
I want to changge the NiceSpinner's border ,and i try to set the background with shape.xml ,but it didn't work!
<org.angmarch.views.NiceSpinner
android:layout_width="match_parent"
android:layout_height="wrap_content"
android:spinnerMode="dialog"
android:id="@+id/nice_spinner"
android:layout_gravity="center"
android:background=""
android:layout_marginRight="20dp"
android:layout_marginLe

[2017-09-30 02:28] #48 closed

[2017-10-02 11:45] lzgmxd opened #49 "How to set the width of dropList"

[2017-10-02 11:46] #49 closed

[2017-10-02 11:46] lzgmxd commented on #49
Solved

[2017-10-08 12:54] #46 closed

[2017-10-11 13:17] tsakmalis commented on #34
I have the same problem, have you found any solution?

[2017-10-14 07:58] fadwafb opened #50 "getSelectedIndex() only display the 1st item (default item)"
getSelectedIndex() only shows 0, when i select another item it doesn't change it's value.

[2017-10-20 15:16] zeynaliAli opened #51 "Can't change font for items"
I can change spinner items font as said in this link :

[2017-11-01 07:28] YeungRay opened #53 "TintContextWrapper cannot be cast to Activity"
in measureDisplayHeight method， Activity activity = (Activity)this.getContext(), this code is wrong ,as NiceSpinner extends AppCompatTextView,so context is wrapper by TintContextWrapper .

[2017-11-03 04:46] archerLj commented on #53
I got the same problem.

[2017-11-04 21:56] hibob224 commented on #53
@YeungRay @archerLj try updating to the latest release (1.3.1), think this will be fixed by https://github.com/arcadefire/nice-spinner/pull/54

[2017-11-15 07:56] hxk1224 commented on #38
Can't use in Fragment ,It will crash.

11-15 15:55:48.470 14897-14897/com.wy.jx_mses E/InputEventReceiver: Exception dispatching input event.
11-15 15:55:48.470 14897-14897/com.wy.jx_mses E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
11-15 15:55:48.500 14897-14897/com.wy.jx_mses E/MessageQueue-JNI: java.lang.NullPointerException

[2017-11-17 12:04] abhriyaroy opened #55 "Spinner doesn't expand upwards."
I have a basic view, where the spinner is inside the relative layout and is at the bottom of the screen but the spinner doesn't expand upwards. I placed the nice-spinner and the default android spinner side by side in the same layout for comparison. The default spinner expands upwards but the nice-spinner doesn't. Please help.

Here is my layout -

         <?xml version="1.0" encoding="utf-8"?>

[2017-11-28 06:24] George-Soros commented on #31
@jiangwenn tks for you，setArrowDrawable can finish this question!

[2017-12-01 08:19] tanghaidev commented on #39
@Override
    protected void onVisibilityChanged(View changedView, int visibility) {
        super.onVisibilityChanged(changedView, visibility);
        arrowDrawable = initArrowDrawable(arrowDrawableTint);
        setArrowDrawableOrHide(arrowDrawable);
    }
问题在这  有的情况下没有触发 放到init方法就好了

[2017-12-04 10:16] w525721508 opened #57 "Multiple NiceSpinner click animation display abnormal"
Multiple NiceSpinner click animation display abnormal

[2017-12-13 10:03] jonydan888 opened #58 "how to change the border and border color with NiceSpinner"
Is this problem fixed? The use of the background property does not set the border and border style

[2017-12-13 12:14] arcadefire commented on #58
Hey @jonydan888.
I didn't have any time to work on this project recently. If you find a solution for it, PRs are well accepted. :)

[2017-12-14 04:38] jonydan888 commented on #58
I checked the source code, try to modify the selector, but it seems not to be successful, all the settings seem to be the selector covered, setBackgroundResoure method to get rid of the init method, and backgroundSelector settings, the background property will come into effect.
Another problem is that manually setting height will lead to incomplete content display. In fact, this problem is caused

[2017-12-14 05:13] jonydan888 commented on #35
Hey, @TongZhang1314

This problem you modify the 2 values in the demens file can be done, which is written in this value, resulting in the height can not be customized, self-adaptive.
    <dimen name="three_grid_unit">12dp</dimen>
    <dimen name="one_and_a_half_grid_unit">24dp</dimen>

[2017-12-25 03:08] wyy16318 opened #59 "这个可以运行吗？"

[2017-12-25 03:09] wyy16318 opened #60 "这个可以运行吗？"

[2017-12-25 03:10] wyy16318 commented on #60
你这个项目少上传文件了吧

[2017-12-28 01:59] HulkHou commented on #38
I think it doesn't work at API 19.
At API24, it works.The same code.

[2017-12-29 03:46] zYinux opened #61 "why the selected item is space?I can't see the selected item"
i find it.

[2018-01-06 07:25] yecal opened #62 "Give advice"
1.cannot setBackgroundColor.
2.No self-adaptive

[2018-01-06 13:32] khoaivn commented on #50
Me too

[2018-01-15 09:52] passself opened #64 "联动的话，第一个spinner点击去刷新第二个的时候箭头默认是朝上的"
比如第一个spinner是省，第二个表示市，点击第一个省后第二个市的spinner箭头图标是朝上的。
默认的是first.setSelectedIndex(0);和sencond.setSelectedIndex(0);

[2018-01-15 09:57] passself commented on #64
it's same with issues 35

[2018-01-15 10:11] passself commented on #35
Hey,@jonydan888, I changed dimens, It still has this problem

[2018-01-19 08:49] baohexin commented on #60
是的，感觉少传了

[2018-01-26 08:18] chenhon commented on #33
you can overwrite spinner_list_item.xml in your layout file.

[2018-01-31 02:23] blankfu opened #65 "setOnItemSelectedListener"
mSpinner.setOnItemSelectedListener(new SimpleItemSelectedListener() {
                @Override
                public void onItemSelected(AdapterView<?> parent, View view, int position, long id) {
                   playVideo();
                }
            });
Hello, i find a bug,this Listener,default 0 item was selected?? , but playVideo() not run.why?

[2018-02-04 13:29] behiunforgiven opened #66 "How Can I get Selected Item?"
How can I get Selected Item not Selected Index?

[2018-02-04 22:31] ZorgeR commented on #66
I used myAttachedDataSource.get(i)

[2018-02-05 06:18] TasTugberk opened #67 "How to add hint ?"
How can I add hint to 'nice-spinner'. I have tried custom array adapter, but it did not work. Is there any way to do that ?
Thanks in advance.

[2018-02-05 07:13] TasTugberk commented on #20
@guoyoujin how you solved it, I also tried to add hint, but I could not solved it.

[2018-02-05 14:49] m0aaz commented on #39
in xml  set
[code]

[2018-02-06 15:17] guoyoujin commented on #20
@TasTugberk
I rewrote the adapter,if you need it， I can send email you

[2018-02-07 03:19] cadelisme opened #68 "add ImageView and TextView"
How to add image and text in every single spinner value? please answer. thank you very much

[2018-02-07 07:21] TasTugberk commented on #20
It would be great, if you share it with me.

2018-02-06 18:17 GMT+03:00 TryCatch <notifications@github.com>:

--
Tuğberk.

[2018-02-08 13:12] yedajiang44 opened #69 "how to remove item or items"
i want remove item or items,how todo

[2018-02-08 13:33] yedajiang44 commented on #69
why NiceSpinnerBaseAdapter.class's or NiceSpinnerAdapter.class's constructor is not public?

[2018-02-08 13:59] yedajiang44 commented on #69
I can only indirectly to remove all of items
`niceSpinner.attachDataSource(new ArrayList<>(Arrays.asList("")));`

[2018-02-09 08:25] hudan2714 opened #70 "exception"
java.lang.NullPointerException
                                                                        at android.animation.PropertyValuesHolder.setupSetterAndGetter(PropertyValuesHolder.java:505)
                                                                        at android.animation.ObjectAnimator.initAnimation(ObjectAnimator.java:459)

[2018-02-10 04:12] guoyoujin commented on #20
@TasTugberk
I think this is the result you want, right?

[https://github.com/guoyoujin/nice-spinner/blob/master/image/ezgif.com-video-to-gif.gif](url)

[2018-02-13 11:24] TasTugberk commented on #67
Isn't there any way ?

[2018-02-25 10:03] TasTugberk commented on #20
Yes, I want this resutl. User first see something like 'please choose bla
bla'.

2018-02-10 7:12 GMT+03:00 TryCatch <notifications@github.com>:

--
Tuğberk.

[2018-02-25 10:11] guoyoujin commented on #20
@TasTugberk
ok，this way

https://github.com/guoyoujin/nice-spinner

[2018-02-26 04:54] TasTugberk commented on #20
Are you sure this one works ? Because we include the same dependicies in
gradle. Also XML usage is the same with :
https://github.com/arcadefire/nice-spinner

2018-02-25 13:11 GMT+03:00 TryCatch <notifications@github.com>:

--
Tuğberk.

[2018-02-26 11:15] guoyoujin commented on #20
@TasTugberk
you use
https://github.com/guoyoujin/nice-spinner/blob/master/nicespinnerlibrary/src/main/java/com/example/gyj/nicespinnerlibrary/NiceSpinner.java

[2018-03-12 06:45] cdcdec opened #71 "can't select by telecontroller on android Tv device"
can't select by telecontroller on android Tv device?

[2018-03-19 12:12] 18payam opened #72 "invisible problem"
Hi.
I have a problem with this library:
when i make it invisible from layout file, my app will be crashed.
i used this code:

`                    <org.angmarch.views.NiceSpinner
                        android:id="@+id/spinner_setting_font_pick"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:

[2018-03-22 03:42] Whatgbc commented on #70
i get it now,but it works on another place...

[2018-03-26 18:40] Zulqurnain opened #73 "Support for Custom view inside Spinner ?"
this view looks awesome , but the problem is i can't set custom view like row item , and with custom model , are you going to implement the feature in future or it is already there ?

[2018-04-03 03:25] JiangShuLiang commented on #48
could you tell me how to change the border's color,thx a lot

[2018-04-08 08:54] Thoimanich opened #74 "get Id of the spinner from onItemSelected interface"
@Override
    public void onItemSelected(AdapterView<?> adapterView, View view, int i, long l) {

        Log.d("Spinner Id",adapterView.getId()+"");
    }

log display Spinner Id -1

[2018-04-15 07:40] weiaiCmeng commented on #59
这是一个module导入进项目,把build中的v7包改成你项目的就可以用了!

[2018-04-18 06:01] darrelRayen commented on #68
Hi I have the same issue. Is there a workaround for this ?

[2018-05-11 13:37] SpamhaterAlex opened #75 "How to set the background color for the nice spinner?"
Hi,

I am using the "nice" spinner and in my opinion it is really nice.
But I can not change the background color...

When I try to set it in the xml layout for it, it will contain still the same color, its white.

Does anybody know, how to change the background color? Or found a way for it?

I would be very happy to know it.

Thanks in advance

[2018-05-11 13:48] SpamhaterAlex commented on #75
I set it programmatically, and it worked fine!

[2018-05-11 13:48] #75 closed

[2018-05-11 14:34] SpamhaterAlex opened #76 "How to set background if item is pressed?"
Hi,

I am looking for a way to set the background of an item, which is pressed.
Is there a easy way to customize it with this library?

Thanks

[2018-05-16 08:41] Alameen688 commented on #75
How?

[2018-05-20 08:30] muhrifqii commented on #76
I'm afraid there's no easier way other than adding attribute reference of background selector

[2018-05-23 03:06] Skqing opened #78 "不支持设置背景色啊"
设置
`android:background="@color/gray"` 没效果啊，不支持背景色设置吗？

[2018-05-24 11:18] zqljintu opened #79 "请问作者，如何在代码里面实现对背景颜色的改变，而不是在xml文件里面。"
我将nice-spinner放到了toolbar里面，想让nice-spinner随着toolbar的背景色改变。

[2018-05-25 15:23] thealpha commented on #66
same problem here

[2018-05-25 15:24] thealpha commented on #66
he is an asshole he is not replying to anybody ....fuck your spinner ...bitch

[2018-06-06 16:18] iammannan opened #80 "How to change spinner data on runtime?"
Hello guys this library is awesome please help to how to change spinner data on runtime??

[2018-06-07 04:18] iammannan commented on #80
How to add notifyDatasetChanged() to it

[2018-06-07 04:19] iammannan commented on #66
nicespinner.getSelectedItem()

[2018-06-08 08:54] Fireflies opened #81 "NullpointerException"
E/MessageQueue-JNI: java.lang.NullPointerException
        at android.animation.PropertyValuesHolder.setupSetterAndGetter(PropertyValuesHolder.java:505)
        at android.animation.ObjectAnimator.initAnimation(ObjectAnimator.java:487)
        at android.animation.ValueAnimator.setCurrentPlayTime(ValueAnimator.java:522)
        at android.animation.ValueAnimator.start(ValueAnimator.java:941)

[2018-06-08 15:52] toton6868 commented on #66
.getSelectedItem() is not working

[2018-06-09 08:09] jact-hz commented on #78
app:backgroundSelector

[2018-06-24 02:00] Marlborn opened #82 "请问在哪里改成向上弹出呢？"

[2018-06-24 09:50] Marlborn commented on #82
下午看了下改过了，-(displayHeight - getParentVerticalOffset() - getMeasuredHeight())

[2018-06-24 09:50] #82 closed

[2018-06-28 17:45] castrojr913 commented on #74
@Thoimanich The same issue. It'd very nice in order to know which spinner fired the onItemSelected event. Grouping on unique method to handle events of multiple spinners of the same view, it reduces boilerplate.

[2018-07-08 12:35] sabrimev commented on #81
The same

[2018-07-08 12:35] sabrimev opened #83 "how to change background?"
No way to change background color from white to something else?

[2018-07-10 12:11] wbr224869 commented on #64
这个问题解决了吗

[2018-07-12 16:58] tomridder opened #84 "hey"
nice work ,man.
is there a possibility to add the pic in each item or drop down list

[2018-07-16 09:20] ismailkilic commented on #81
I have same issues

[2018-07-24 18:07] devmanzur commented on #81
I have the same issue on API 19, is there anyone who can solve it ?

[2018-08-02 02:53] zidanpiaoguo opened #85 "displayHeight open"
This property is expected to be written on a property that can be modified, not dead, because there are many requirements to change it

[2018-08-03 12:22] LaymanInCoding opened #86 "bug with two spinner in layout"
when I add two spinner in my layout file ,  I click one spinner ,the other spinner's arrow animate a little ,

[2018-08-10 07:04] Qdafengzi opened #87 "multiple spinners not display"
When there are multiple spinners in the horizontal screen interface, the arrow is not displayed, and will be displayed when the developer layout boundary of the developer mode is turned on.

[2018-08-16 09:35] hhecoder opened #88 "Question about the display style of PopupWindow"
hi, I have a question about the PopupWindow.
I used PopupWindow in my project too.
I used "showAsDropdown" too when I want to show it.
But I get wrong location when shown in Android7.1.1 && 8.0.0 , it goes the top of the screen and below of the statusbar.
I tried a lot of ways but still not work.
Do u know the reason of the strange question?
thanks.

[2018-08-20 23:44] erlangp opened #89 "spinner.setSelectedIndex(i) not work"

[2018-08-20 23:45] erlangp commented on #89
@arcadefire

[2018-08-20 23:52] #89 closed

[2018-08-20 23:54] erlangp commented on #89
i'am sorry.. that's my mistake.. i pass invalid index to that method

[2018-08-29 14:35] blueskky commented on #66
add the method in  NiceSpinner.java

public Object getSelectedItem() {
        return adapter.getItemInDataset(selectedIndex);
    }

[2018-09-20 01:55] ChallyCai opened #90 "Android 4.4 on xiaomi 4.4 Error."
android.view.InflateException: Binary XML file line #0: Error inflating class org.angmarch.views.NiceSpinner

[2018-09-26 06:35] QianHong opened #91 "how i can custom the adapter to adapt the different view ?"

[2018-10-12 14:54] gisk4rd commented on #65
Is not a bug , unfurtunatelly is the base android behaviour

[2018-10-17 06:06] ash2osh commented on #81
+1

[2018-10-27 09:09] While1true opened #93 "soft-keyboard is showing,the listview can not scroll out all of the items"
when soft-keyboard is showing，the popupwindow show at the top of the anchor。
And the listview can not show all of the items，because the popwindow‘s showing-Height is small than the MeasureHeight of listView.

[2018-10-29 06:29] Charay opened #94 "How to use "backgroundSelector"?"
How to use "backgroundSelector"?

[2018-10-29 08:48] erlangp opened #95 "proguard config?"
Logcat
[code]

[2018-10-29 09:32] erlangp commented on #95
[code]

[2018-10-30 09:14] thaixp opened #96 "Can the text center?"
Can the text center?

[2018-11-01 01:59] erlangp commented on #95
package org.angmarch.views;
NiceSpinnerBaseAdapter<T>

[code]

[2018-11-03 13:45] look416 commented on #67
Hi,
You can use this method called ````setTextInternal(String text)````. It's meant to be a placeholder for the spinner

[2018-11-10 02:07] DongtingXu commented on #67
hey @look416
it seems did not work either,can you show me show some detailed codes?thanks.

[2018-11-16 16:01] arunavo4 commented on #95
add this line to your proguard rules

-keep class com.github.arcadefire.** { *; }
-dontwarn com.github.arcadefire.**

[2018-11-17 03:12] hu70258tao opened #97 "该组件，默认选中的时候，设置的监听器无法监听到。"
如题，安卓原生的下拉选择框就不会有这个问题。

[2018-11-30 13:35] Nickolas981 opened #99 "Text is centered in popup"
![image](https://user-images.githubusercontent.com/17518947/49292287-886e7b80-f4b5-11e8-8d55-4738a9c0097c.png)

[2018-12-04 16:15] arcadefire commented on #99
Hello there. I've added an attribute to change the default text alignment in the xml. Check this commit: e6c0279ff5f6548af53c63b71fc441772d5b4ae0.

You can find how to use this in the updated doc. Make sure you've downloaded the latest version of the widget.

[2018-12-04 16:15] #99 closed

[2018-12-04 16:16] #97 closed

[2018-12-04 16:18] arcadefire commented on #96
Hello, can you provide more details about your issue?

[2018-12-04 16:19] arcadefire commented on #95
@erlangp did @arunavo4 suggestion solve your issue?

[2018-12-05 06:17] loading652125 opened #101 "problem with nice spinner1.3.6"
use implementation 'com.github.arcadefire:nice-spinner:1.3.6'
[code]
1.3.4 is ok

[2018-12-05 08:49] arcadefire commented on #101
It most probably happens because I bumped the `compileSdkVersion` to 28. Can you try to bump your project's `compileSdkVersion` and see if this solves the issue?

[2018-12-05 10:39] arcadefire commented on #101
No problem.

[2018-12-05 10:39] #101 closed

[2018-12-06 13:04] #88 closed

[2018-12-06 13:08] arcadefire commented on #93
Hello, I think this has been solved in the latest release of the library: 1.3.6.

[2018-12-06 13:08] #93 closed

[2018-12-07 10:52] #95 closed

[2018-12-16 20:38] arunavo4 commented on #80
add a listener like this:

[code]

[2018-12-16 20:40] arunavo4 commented on #65
Use **setOnItemSelectedListener** instead of **setOnItemSelectedListener**
[code]

[2018-12-17 12:45] voghDev commented on #81
I have the same issue on a very old device (an Android 4.4). It seems that the crash is inside this method

[code]
Maybe the animations are not working properly in some devices. One quick workaround could be an XML attribute that disables the rotation animations for the arrow, so we can enable or disable them in our Apps depending on which version of the sdk is running. If this sounds good to you

[2018-12-17 13:02] arcadefire commented on #81
Hello @voghDev, let me quickly investigate if there's a way to avoid the crash. Is this crashing persistently on 4.4 and lower?

[2018-12-18 07:23] itjustworks opened #102 "Have the arrow display right next to the text"
Hello, the arrow seems to always display at the right most of the spinner. I want it display right next to the text. Does nice-spinner support this? How can I achieve this? Thank you.

[2018-12-18 07:45] voghDev commented on #81
Hi @arcadefire. I think so, I have been able to reproduce the issue in a physical KitKat device (a BQ Aquaris 5 HD), and in a emulator running 4.4.2. We also have a report on Google Play from a Samsung Galaxy Grand2 with a similar stack trace to the one described above,  [screenshot](https://imgur.com/a/sIN60CY).

The issue can be reproduced in [this app](https://play.google.com/store/apps/details

[2018-12-18 16:22] balakzde commented on #73
I have the same problem. I need to be able to change background color of row programatically and NiceSpinner seems to ignore my view inside of custom ArrayAdapter which I created

[2018-12-20 08:22] arunavo4 commented on #76
simply use a selector in the background reference in xml and the inside selector give separate drawable resource for the two states

[2018-12-20 08:33] arunavo4 commented on #66
Creating the Spinner
[code]

Now use the selected position to get the corresponding element from the list
[code]

[2018-12-20 08:55] yedajiang44 commented on #69
@arunavo4 i see ! thanks~

[2018-12-20 08:55] #69 closed

[2018-12-20 09:55] arcadefire commented on #81
@voghDev I wasn't able to reproduce the issue on the emulator, but I fear that the crash might be caused by a null view when the `ObjectAnimator` tries to update the animated property.

I tried to fix this by canceling the animation when the view receives the `onDetach` callback.

Would you be able to test if this works? You can download the snapshot from here: `implementation 'com.github.arcadefi

[2018-12-20 09:56] arcadefire commented on #96
Closing this due no answer.

[2018-12-20 09:56] #96 closed

[2018-12-20 09:56] arcadefire commented on #90
Can you provide additional details?

[2018-12-20 09:57] arcadefire commented on #102
I don't fully get the issue. Can't you just set `wrap_content` to NiceSpinner's `layout_width`?

[2018-12-20 09:58] voghDev commented on #81
Sure! I will. As soon as I have results, I'll post them here.

Thanks for your help!

[2018-12-20 09:59] arcadefire commented on #94
You can have a look at the sample `app` to see how to use it.

In short, just set NiceSpinner's:

`app:backgroundSelector="@drawable/background_selector"`

where you `background_selector` resource could be something like this:
[code]

Hope it helps.

[2018-12-20 10:08] #64 closed

[2018-12-20 10:08] #78 closed

[2018-12-20 10:09] #60 closed

[2018-12-21 07:01] voghDev commented on #81
Hi @arcadefire, good news. The code in this snapshot seems to fix the crash both on a KitKat device and a 4.4 emulator. [Screenshot](https://imgur.com/a/I9O9w1L). So this change you've made could be the fix for this issue

[2018-12-21 14:51] arcadefire commented on #81
@voghDev Glad it helped. I'll release an upgrade now and if this doesn't come up in the next while, I'll close the issue.

[2018-12-22 01:54] arunavo4 opened #103 "Please add Scroll feature for large list of items"
##Feature Request
add Scroll feature for large list of items and give an option for min number of items in view

[2018-12-25 10:17] SudoAjay commented on #103
yes we want Scroll Feature :) :)

[2019-01-11 13:01] arcadefire commented on #39
This should be solved in #104.

[2019-01-11 13:01] #39 closed

[2019-01-11 13:01] #94 closed

[2019-01-11 13:01] #102 closed

[2019-01-12 15:55] eriknyk commented on #83
[code]

worked for me

[2019-01-14 02:57] erlangp opened #105 "arrow animation not reset after view disabled"

[2019-01-14 02:59] erlangp commented on #105
screenshot: https://imgur.com/a/gnUBCHx

[2019-01-14 03:48] houyuehai opened #106 "Maybe Spinner Text Formatter can be upgraded"
不错的库，我的数据也许不是String，可能是一个学生对象，我想显示Student的name，但是当我选择的时候，我想要从监听者中获取学生的id。因为name是用户看的，而id才是服务端需要的。也许可以升级一下SpinnerTextFormatter.
public interface SpinnerTextFormatter<T> {
    Spannable format(T var1);
}
Good library, my data may not be String, it may be a student object, I want to show the name of the Student, but when I choose, I want to get the ID of the student from the listener. Because name is

[2019-01-14 04:39] erlangp commented on #105
how to cancel arrow animation & make arrow down after call `.setEnable(false)` ?

[2019-01-16 02:39] houyuehai commented on #106
offer "void selectedIndex（int position）"，if want to set defult selected.

[2019-01-16 06:53] houyuehai commented on #106
and if return null,do not draw item

[2019-01-24 11:09] androidlab commented on #86
Did you find any solution to this? I have two spinners in my layout. When I click one of the spinners, both the arrows animate abnormally.

[2019-01-29 07:11] jwzywanasnli commented on #59
可以的老铁。终于看到个说中文的啦

[2019-02-02 17:54] arcadefire commented on #105
Hello @erlangp, how can I reproduce the issue?

[2019-02-02 17:54] #81 closed

[2019-02-02 17:55] #70 closed

[2019-02-02 17:55] #59 closed

[2019-02-12 05:20] ideep commented on #65
I have same problem but I already have used AdapterView & set selectedIndex to 0.
Still not working.

First try :
`spinnerProperties.attachDataSource(propertyNamesList);
            spinnerProperties.setSelectedIndex(0);
            spinnerProperties.setSelected(true);
            spinnerProperties.setOnItemSelectedListener(new AdapterView.OnItemSelectedListener() {
                @Override

[2019-02-20 07:48] wubodanran opened #108 "Is it possible to add a drop-down box that can be filtered?"
I hope to add one that can input content and filter the drop down box.

[2019-02-20 09:55] wubodanran opened #109 "Do you need to set the arrow yourself?"
![image](https://user-images.githubusercontent.com/29586966/53082852-b6091500-3538-11e9-92ab-0129f7bea341.png)

[2019-03-02 11:33] yusufceylan commented on #106
It merged but still only can be use for String, can not override

[code]

Still force me to Override

[code]

[2019-03-08 09:02] DongtingXu opened #110 "Error occurs when set android:visibility="gone" in xml file"
Error occurs when set android:visibility="gone" in xml file,but setVisibility(View.GONE) in JAVA code is fine.It happens to my phone with android4.4 but run normal in other phone with android8.0.

[2019-03-12 06:41] loveRose commented on #62
2.没有自适应性

[2019-03-12 09:52] SaiSoeHarn opened #111 "Method does not override method from its super class"
I encounter the above issue when using
SimpleSpinnerTextFormatter textFormatter = new SimpleSpinnerTextFormatter() {
            @Override
            public Spannable format(Object item) {
                Person person = (Person) item;
                return new SpannableString(person.getName() + " " + person.getSurname());
            }
        };
because of there is no Spannable format(Object i

[2019-03-13 07:56] Vove7 opened #112 "Crash happend when attach a empty dataSource"
[code]

[2019-03-14 03:05] moujunqiang opened #113 "How to set the listview background ？"

[2019-03-15 08:31] yefl2064 commented on #111
me too

[2019-03-30 22:40] aschmois commented on #83
setting background tint to transparent works to not use a white background, but the ripple effect is lost. I think better background support would be very helpful.

[2019-04-01 03:38] KunKevin commented on #82
请问这个是怎么改的，可以实现吗？谢谢1

[2019-04-01 06:14] Marlborn commented on #82
measurePopUpDimension()这个方法里
        int widthSpec = MeasureSpec.makeMeasureSpec(getMeasuredWidth(), MeasureSpec.EXACTLY);
        int temp = displayHeight - getParentVerticalOffset() - getMeasuredHeight();
        if (temp > 0) {
            temp = temp * -1;
        }
        int heightSpec = MeasureSpec.makeMeasureSpec(temp,
                MeasureSpec.AT_MOST);
        listView.measure(widthSp

[2019-04-06 14:55] github0null commented on #66
**the param "parent" is a class extends from ListView, so we can get the item from adapter**

@Override
    public void onItemSelected(AdapterView<?> parent, View view, int position, long id) {
        ListView listView = ListView.class.cast(parent);
        ListAdapter adapter = listView.getAdapter();
        YourType item = (YourType)adapter.getItem(position);
        .......
 }

![捕获](https://u

[2019-04-07 13:51] aloneSingingStar opened #114 "why the 1.3.8 version SimpleSpinnerTextFormatter don't support Spannable format(Object item)"
why the 1.3.8 version SimpleSpinnerTextFormatter don't support Spannable format(Object item)

[2019-04-14 12:51] w-g-b opened #115 "Could it set data in xml?"
The default Spinner in Android can set the attribute in the xml to load data, like this:
![image](https://user-images.githubusercontent.com/23725154/56093088-e052cf80-5ef6-11e9-829e-101e7c4a4ded.png)
Could it do that ?

[2019-04-14 14:27] w-g-b commented on #115
I do that! And you can see [this fork](https://github.com/w-g-b/nice-spinner) or wait the author merge.

[2019-04-14 14:27] #115 closed

[2019-04-15 05:39] w-g-b opened #117 "add more function"
I'm add some functions in this widget, like:
1. set entries in xml
2. add setOnItemClickListener() function;
3. add getCurrentItem() function;
4. fix the bug that attack null data;

You can see in [this fork](https://github.com/w-g-b/nice-spinner)

[2019-04-18 15:56] arcadefire commented on #117
Thanks for contributing! :)

[2019-04-18 15:56] #117 closed

[2019-04-18 15:57] #32 closed

[2019-04-18 15:57] #33 closed

[2019-04-18 15:58] #34 closed

[2019-04-25 06:06] sootood opened #118 "when i added to gradle get error build tools not finished ..."
i tried to use this library but i got error Process 'command  ... \AppData\Local\Android\Sdk\build-tools\26.0.2\aapt.exe'' finished with non-zero exit value 1

i used compile instead of implementation is it impossible it make the trouble?

and this i use 26.0.2 version of build tools
help me please

[2019-05-05 02:47] JackCheng3334 opened #119 "position error!"
Choose either the first or the second item, the "position" returned are both 0.

[2019-05-14 07:38] cailei1 commented on #86
i am also

[2019-05-20 08:32] caixiquan commented on #119
Me too！Do you have a good idea to solve this problem？

[2019-05-23 14:58] Jawadwithw commented on #119
In setOnItemSelectedListener method, just forget about the position value , get the item index with :
niceSpinner.getSelectedIndex().
that will work :)

[2019-05-24 07:38] arcadefire commented on #119
Can you show me the code snippet that reproduces this issue? I've been trying the example app and it works there.

[2019-05-24 08:18] arcadefire commented on #35
This should be fixed in the last releases.

[2019-05-24 08:18] #35 closed

[2019-05-24 08:20] #38 closed

[2019-05-24 08:20] #40 closed

[2019-05-24 08:20] #43 closed

[2019-05-24 08:21] #44 closed

[2019-05-24 08:22] #45 closed

[2019-05-24 08:22] #47 closed

[2019-05-24 08:22] arcadefire commented on #50
This should be fixed in the last releases.

[2019-05-24 08:22] #50 closed

[2019-05-24 08:24] arcadefire commented on #51
Is this still valid?

[2019-05-24 08:24] #53 closed

[2019-05-24 08:28] arcadefire commented on #55
This was fixed in one of the last releases.

[2019-05-24 08:28] #55 closed

[2019-05-24 08:28] arcadefire commented on #57
Can you provide a video or a gif displaying the issue?

[2019-05-24 08:29] #61 closed

[2019-05-24 08:29] #62 closed

[2019-05-24 08:31] arcadefire commented on #65
Not sure what's the problem here.

[2019-05-24 08:32] arcadefire commented on #66
You can use `NiceSpinner` method: `getSelectedItem`.

[2019-05-24 08:32] #66 closed

[2019-05-24 08:34] arcadefire commented on #67
There's no method for doing that right now, but feel free to open a PR. :)

[2019-05-24 08:34] arcadefire commented on #68
That's not supported right now, but feel free to open a PR. :)

[2019-05-24 08:36] arcadefire commented on #24
That's not supported right now, but feel free to open a PR. :)

[2019-05-24 08:36] #24 closed

[2019-05-24 08:42] arcadefire commented on #103
Added in a484fe55b883d29578f2d05ff23cc9af82efe10f

[2019-05-24 08:42] #103 closed

[2019-05-24 08:43] arcadefire commented on #71
Haven't tried the component on Android TV. Feel free to open a PR to support this feature.

[2019-05-24 08:43] #71 closed

[2019-05-24 08:45] arcadefire commented on #72
Cannot reproduce this.

[2019-05-24 08:45] #72 closed

[2019-05-24 08:46] arcadefire commented on #73
This option is not supported right now, but feel free to open a PR.

[2019-05-24 08:46] #73 closed

[2019-05-24 08:49] arcadefire commented on #74
Is this still valid?

[2019-05-24 09:08] arcadefire commented on #76
You can use a `backgroundSelector`. Take a look at the sample project to find out how to use it.

[2019-05-24 09:08] #76 closed

[2019-05-24 09:17] arcadefire commented on #112
Fixed in 592b1b2daa7f4a91297db405ed135684f1d8a2e3.

[2019-05-24 09:17] #112 closed

[2019-05-24 12:59] arcadefire commented on #119
This was fixed with: da73d7796ae4b937db124a86d4101d6d0f44db70.  Now the position value should return the expected value.

Note: Due to the nature of the spinner, a method call to `parent.getItemAtPosition` will return a wrong value, though, as the entries displayed by the pop-up list and the ones contained in the adapter are different: the selected item won't be displayed within the list.

To avoi

[2019-05-24 13:10] arcadefire commented on #118
Is this issue still valid?

[2019-05-24 13:48] arcadefire commented on #109
The arrow should be displayed out of the box. Anyway, I explicitly default it to black in 7f3d962908e68cdaa16304575cd5ed34bb36e1da.

[2019-05-24 13:49] arcadefire commented on #108
It's not possible right now, but feel free to contribute with a PR. :)

[2019-05-24 13:49] #108 closed

[2019-05-24 13:50] arcadefire commented on #113
It's not possible right now, but feel free to contribute with a PR. :)

[2019-05-24 13:50] #113 closed

[2019-05-24 13:51] arcadefire commented on #114
Is this valid with version 1.4.1?

[2019-05-24 13:52] arcadefire commented on #111
Is this valid with version 1.4.1?

[2019-05-24 14:08] arcadefire commented on #110
Fixed with: 4001bd5726fece7e46a222602b5215305f58c308.

[2019-05-24 14:08] #110 closed

[2019-05-24 14:29] arcadefire commented on #106
This should be possible now with: aa42151f2578598a3bde8cf94c88eeea62f5c30d.

[2019-05-24 14:48] arcadefire commented on #105
This should be fixed in this commit: 9e18b1f35f5d7017e3affe34e73b37e02c97ba2b.

[2019-05-24 14:48] arcadefire commented on #86
This should be fixed in this commit: 9e18b1f35f5d7017e3affe34e73b37e02c97ba2b.

[2019-05-25 09:54] alizeyn commented on #51
I don't know, it was 2017 when I issued this :))
but if you didn't fix it, the problem must still exist.

[2019-05-27 04:51] #105 closed

[2019-05-27 04:52] erlangp commented on #105
thanks sir @arcadefire

[2019-05-27 18:15] tanoDxyz opened #120 "Some Drop down Items are not shown"
while using **androidX** and everything was OK but when i used the spinner in layout that was inflated for a Dialog. some drop down items were not shown.
Layout structure is

**RelativeLayout
                         Linear Layout
                                                Spinner**

[2019-05-28 11:37] arcadefire commented on #120
Can you post a screenshot?

[2019-05-28 11:39] #85 closed

[2019-05-28 11:41] #86 closed

[2019-05-28 11:42] #58 closed

[2019-05-28 11:44] #57 closed

[2019-05-28 17:51] tanoDxyz commented on #120
![c_1_50](https://user-images.githubusercontent.com/33701127/58500088-e9dc8200-819a-11e9-8654-563bb9f564bf.png)

**used xml attribute @entries ... which contains 8 elements**

[2019-05-31 00:59] lhhseraph opened #121 "The item displays normal on the first click, and abnormal on the next click"
The item displays normal on the first click, and abnormal on the next click

The item height and font size have changed

[2019-05-31 01:00] lhhseraph commented on #121
![360截图16800415105124130](https://user-images.githubusercontent.com/10457402/58674465-90cf4280-8382-11e9-8e4c-9beda200955e.png)
![360截图18460319373162](https://user-images.githubusercontent.com/10457402/58674470-94fb6000-8382-11e9-8a25-338c153ebe74.png)

[2019-05-31 09:13] GiveSmile opened #122 "I get an error when I use it in popupWindow"
hello
   The specific error log is shown below：
android.view.WindowManager$BadTokenException: Unable to add window -- token android.view.ViewRootImpl$W@3b3e561c is not valid; is your activity running?

[2019-05-31 09:16] arcadefire commented on #120
It's most probably cut by the dialog's window. I don't plan to investigate that, but feel free to open a PR if you find a solution. :)

[2019-05-31 09:16] #120 closed

[2019-05-31 09:17] arcadefire commented on #122
Can you give me more detailed instructions on how to reproduce it?

[2019-05-31 09:18] arcadefire commented on #121
Can you show me some code?

[2019-05-31 09:27] GiveSmile commented on #122
I tried to set a nice-spinner in a PopWindow that was already displayed, and then an error occurred when I clicked it again
![图片](https://user-images.githubusercontent.com/45993544/58696021-47eeac80-83c9-11e9-8c8d-07bd170e2ac7.png)
Thanked your reply

[2019-05-31 11:25] arcadefire commented on #119
Closing this. Feel free to open a new issue if the problem persists.

[2019-05-31 11:25] #119 closed

[2019-05-31 11:26] arcadefire commented on #122
I don't think this is directly related to the spinner. I'm not planning to investigate this further, though. Feel free to open a PR if you discover the issue. :)

[2019-05-31 11:26] #122 closed

[2019-06-03 01:18] lhhseraph commented on #121
Thank you for your reply. The following are layout and Java code

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/white"
    android:focusable="true"
    android:fo

[2019-06-08 17:35] pzienowicz commented on #65
The problem is, that when we set selected index programmatically, OnItemSelectedListener is not called.
@arcadefire is it a normal behavior? How can I run listener when changed selected index in code?

[2019-06-09 10:09] stefango opened #124 "Cannot use nice-spinner in my project"
Hello, I have a trouble in using nice-spinner. Could you help me in your spare time?

My Android Studio info:
[code]
Build:
[code]
idea.log:
[code]

[2019-06-13 15:34] arcadefire commented on #124
Hello, I can't spot what's your problem from the log (seems unrelated). What's the output of `./gradlew :app:assembleDebug`?

[2019-06-14 05:11] lhhseraph commented on #121
Find out why, in the theme Settings < item name = "android: fitsSystemWindows" > true < / item >

[2019-06-14 05:11] #121 closed

[2019-06-20 09:15] stefango commented on #124
The output of <code>gradlew :app:assembleDebug</code> is below:
[code]

[2019-06-20 09:22] arcadefire commented on #124
This refers to version `nice-spinner:1.3.7` though. Have you tried to update to latest version `1.4.3`?

[2019-06-20 09:26] stefango commented on #124
still failed for <code>1.4.3</code>
[code]

[2019-06-20 09:29] arcadefire commented on #124
I'm wondering, do you have Jitpack repository in your repository list?
[code]

[2019-06-20 09:34] stefango commented on #124
OMG, I forget this. I have fixed it. Thanks a lot.:smile:

[2019-06-20 09:37] arcadefire commented on #124
No problem.

[2019-06-20 09:37] #124 closed

[2019-06-21 12:10] sadeghghafoori opened #125 "arrow problem"
hi
thanks for good library
i have two problem with arrow
1- I cant set arrow to left corner for rtl text;
2- see this:
http://s8.picofile.com/file/8364272676/2019_06_21_16_39_43.jpg

how can fix  this?
thanks a lot

[2019-06-21 12:46] arcadefire commented on #125
Hi there. The arrow ignores the RTL attributes. I'll fix it in the next release.

[2019-06-21 13:14] sadeghghafoori commented on #125
thanks
what about 2th problem:

http://s8.picofile.com/file/8364272676/2019_06_21_16_39_43.jpg

how can fix this?

[2019-06-21 14:39] arcadefire commented on #125
Changing list entries background is not possible either in the current version.

[2019-06-24 17:05] pzienowicz commented on #65
@arcadefire could you just let us know if this is normal behavior and we need to handle it by ourselves or just a bug?

[2019-06-24 18:31] arcadefire commented on #65
@pzienowicz sorry, I message the previous message. I think the listener should be called we selecting the item programmatically. I'm adding this to my TODO list, or feel free to open a PR. :)

[2019-06-28 10:22] DearBo7 opened #126 "Use problem"
How can I update the content? Can I give a hint if there is no data?

[2019-07-03 02:43] carrot-wen opened #127 "Textview do not display text when there is only one item of data"
I modified the demo code to reproduce this problem：
![20190703100536](https://user-images.githubusercontent.com/21718680/60558911-6c99c380-9d7d-11e9-8859-72743195e5a3.png)
![20190703102859](https://user-images.githubusercontent.com/21718680/60558933-7a4f4900-9d7d-11e9-8f56-420073069d46.png)

note:  i fixd this problem by modifying NiceSpinner#setAdapterInternal and changing  `if (adapter.getCount(

[2019-07-04 10:46] 444601385 commented on #127
NiceSpinner niceSpinner = (NiceSpinner) findViewById(R.id.nice_spinner);
 List<String> dataset = new LinkedList<>(Arrays.asList("One"));
 niceSpinner.attachDataSource(dataset);
 niceSpinner.setText(dataset.get(0));

[2019-07-04 10:49] 444601385 commented on #127
NiceSpinner NiceSpinner = (NiceSpinner) findViewById (R.id.nice_spinner);
列表数据集= new LinkedList < > (arrays . aslist(“一”));
niceSpinner.attachDataSource(数据集);
niceSpinner.setText (dataset.get (0));

[2019-07-04 10:50] 444601385 commented on #127
NiceSpinner NiceSpinner = (NiceSpinner) findViewById (R.id.nice_spinner);
List<String> dataset= new LinkedList < > (arrays . aslist(“One”));
niceSpinner.attachDataSource(dataset);
niceSpinner.setText (dataset.get (0));

[2019-07-05 01:36] carrot-wen commented on #127
I understand, thank you.

[2019-07-05 01:36] #127 closed

[2019-07-09 15:26] asknask opened #128 "setSelectedIndex doesn't trigger the new or old listener"
Using the latest version of the library.

The setSelectedIndex doesn't trigger any of the listeners (setOnItemSelected, setOnSpinnerItemSelected), which causes issues as visually the user can see item 0 being shown in the list, but it isn't actually selected.

Or even if it, the listener still isn't called by the setSelectedIndex function hence preventing me from taking some sort of action based o

[2019-07-10 04:43] Andjdd opened #129 "如何修改下拉选择框里面的字体大小"
能够修改选择后的字体大小，现在没有办法修改下拉框里面的字体大小，请问如何修改设置

[2019-07-10 14:40] FlodCoding opened #130 "Find a bug ClassCastException"
this is my code

`spinnerType.setSpinnerTextFormatter((SpinnerTextFormatter<Map.Entry<String, String>>) item -> new SpannableString(item.getKey()));
        spinnerType.setSelectedTextFormatter((SpinnerTextFormatter<Map.Entry<String, String>>) item -> new SpannableString(item.getKey()));

        spinnerType.setOnSpinnerItemSelectedListener((parent, view, position, id) -> {
                    mPa

[2019-07-11 09:51] liuchengjian opened #131 "选择选中后，怎么改变选中的值"
-
怎么把在选中的值，截取后显示出来
![Uploading image.png…]()

[2019-07-12 06:11] onion-pie opened #132 "Invalid package identifier"
I got a warning:
"ResourceType: Invalid package identifier when getting bag for resource number 0x0000057f"
when I initialized the spinner.

It's not a error, but I think it's necessary to let you know it.

By the way,  I hope the padding could be customizable.

[2019-07-17 15:09] asknask commented on #80
This issue still has no solution?

[2019-07-19 02:54] DevChangBo commented on #129
改不了，源码布局里面的textview值的大小是设置死的，为15sp

[2019-07-19 02:55] Andjdd commented on #129
哦哦，可以修改下撒大神

------------------ 原始邮件 ------------------
发件人: "Mr.常博"<notifications@github.com>;
发送时间: 2019年7月19日(星期五) 上午10:54
收件人: "arcadefire/nice-spinner"<nice-spinner@noreply.github.com>;
抄送: "574808086"<574808086@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [arcadefire/nice-spinner] 如何修改下拉选择框里面的字体大小 (#129)

改不了，源码布局里面的textview值的大小是设置死的，为15sp

—
You are receiving this because you autho

[2019-07-22 03:11] androidtestdev opened #133 "下拉箭头不出现"
在king3288开发板上下拉箭头不出现，在模拟器和真机可以，有可能是什么原因导致的

[2019-07-24 02:00] passionfun commented on #22
arrowDrawable method is not effect，why？

[2019-07-24 02:01] passionfun commented on #22
I want to use my arrow picture,but arrowDrawable method is not useless!can you tell me why?

[2019-07-24 10:49] Marcosmaliki commented on #103
Still can't scroll @arcadefire

[2019-07-26 07:20] pbaiyy opened #134 "列表只有一个内容的时候，不显示"

[2019-07-30 15:39] #134 closed

[2019-07-30 15:39] #133 closed

[2019-07-31 01:31] pbaiyy opened #136 "if the list just one data，spinner can’t show anything"

[2019-07-31 18:48] Luisalfredrod opened #137 "Build Error"
ERROR: Failed to resolve: com.github.arcadefire:nice-spinner:1.4

[2019-08-05 03:30] 2318423730 opened #138 "怎么设置默认不选择仍会选项"

[2019-08-05 05:19] tom055 commented on #136
+1

[2019-08-05 09:53] looogen commented on #129
直接copy library,然后自己写

[2019-08-05 09:56] looogen opened #139 "copy library to my project but build error"

[2019-08-05 09:58] #139 closed

[2019-08-05 09:58] looogen commented on #139
haha my path error

[2019-08-05 11:54] looogen commented on #138
可以设置一个没有任何状态的状态比如-1

[2019-08-06 09:52] 2318423730 commented on #138
是用setSelectedIndex吗？会报错
 java.lang.IllegalArgumentException: Position must be lower than adapter count!

[2019-08-08 22:21] gpallas16 commented on #130
Yep I can confirm this. A temporary fix is to remove all formatters and override toString() method on your custom object, making it return what  you want to show on the spinner.

[2019-08-10 03:24] 1059021214 opened #140 "我的集合数据变了,调用啥方法更新"
我的数据改变后 怎么去更新,以前默认的适配器有更新的方法

[2019-08-10 09:28] 1059021214 commented on #140
After my data changes, how to update, the previous default adapter has an updated method, ask God to help!

[2019-08-14 07:09] ryan-andri commented on #137
have you add **maven { url "https://jitpack.io" }** in allprojects { } build.gradle of module app ?

[2019-08-18 09:08] qingshangming commented on #136
+1

[2019-08-18 09:09] qingshangming commented on #136
It's done. There's a problem with the result test.

[2019-08-30 06:21] lulianqing opened #141 "当数据为1时产生的一个BUG"
调用 nicespinner.attachDataSource(list)，当list.size()=1时，nicespinner不会显示任何string

[2019-09-03 07:32] AmoyJJ opened #142 "Display an error when there is only one data"

[2019-09-03 09:13] jordan32331 commented on #141
可以通过手动调用setSelectedIndex这个方法来解决，但是这样操作的前提是你的list只能是String，如果是对象的话，这个方法会报类型转换异常。说到底还是库有问题

[2019-09-04 07:21] kcjian commented on #141
@arcadefire Can you help solve this bug?

[2019-09-05 08:24] wyba commented on #141
只能添加一个一模一样的数据了

[2019-09-05 08:31] kcjian commented on #141
我下载了源码改了一下，NiceSpinner.setAdapterInternal方法里的 if (adapter.getCount() > 0) 改为 if (adapter.getCount() >= 0)就没问题了，依赖本地代码了

[2019-09-05 08:36] wyba commented on #141
学习到了，大神^_^，哈哈哈

[2019-09-07 17:21] gpallas16 opened #143 "Index out of bounds on onRestoreInstanceState"
This exception showed up today. I think from a quick look my view model passed an empty list and then on restore I got this exception.

Caused by java.lang.IndexOutOfBoundsException
Index: 0, Size: 0
java.util.ArrayList.get (ArrayList.java:437)
org.angmarch.views.NiceSpinnerAdapter.getItemInDataset (NiceSpinnerAdapter.java:54)
org.angmarch.views.NiceSpinner.onRestoreInstanceState (NiceSpinner.java

[2019-09-10 12:04] Cand3h opened #144 "How to increase textSize and arrow size?"
Hi,

Thank you for an amazing spinner.
I'm currently optimizing my app to work on multiple devices and noticed that I can't seem to find the option to increase textSize for opened spinner (selection) and arrow size. On phones it seems fine but on tablets it looks too small.

Any idea how to do it?

[2019-09-12 04:37] mrtarunsaraswat opened #145 "Confusion ?"
I want to know can we use this type of libraries without any problem in the future, and can we use these type of libraries in personal or commercial use?

[2019-09-12 05:07] mrtarunsaraswat opened #146 "PopupMenu Background color"
How can I change the popup menu background color? By default it is white.

[2019-09-19 09:40] CasWen opened #147 "第一次点击不能弹出，什么原因呢"
刚进页面第一次点击 不会弹出弹窗

[2019-09-19 10:25] #147 closed

[2019-09-25 09:21] cuncaojin commented on #127
i find the repository's newest lib ,just v1.4.3 is also have this question.  if the item data is an object ? waht to do?

[2019-09-26 13:53] pzienowicz opened #148 "Please create tag for last fixes"
Last commit is fixing spinner behaviour in dialogs.
Please create patch tag.

[2019-10-09 08:59] ashish-dhiman commented on #65
termsSpinner.setSelectedIndex(1); // set selection to any non required index
                            termsSpinner.getListView().performItemClick(termsSpinner.getListView().getChildAt(0), 0, termsSpinner.getListView().getAdapter().getItemId(0)); // 0 is the position we require to be clicked

[2019-10-10 15:52] edgarscr opened #149 "Set Custom Adapter"
Hello how are you? i need help to add custom adapter because appear like this
![image](https://user-images.githubusercontent.com/33737821/66585096-e21aea00-eb4b-11e9-8087-2614d2cd5486.png)

[2019-10-11 10:47] pzienowicz commented on #149
Just implement **toString** function in your model and should work.

[2019-10-11 15:40] edgarscr commented on #149
Hello my adapter its like that i dont understand how i can add like string?

[code]

[2019-10-13 16:01] pzienowicz commented on #149
**toString** should be implemented in **Reason** class - and should return the string, you want to display on spinner list.

[2019-10-14 21:37] #149 closed

[2019-10-16 08:25] cuncaojin commented on #141
修改3处，解决该库几个问题。(不知道怎么贴图片，只能手动写了，如有帮助到给个赞，哈哈)

- 1. NiceSpinnerAdapter中，对应部分改为：

[code]

- 2.  NiceSpinner类中，改为

[code]

- 到此结束。rebulid project一下得到想要的 \nice-spinner\library\build\outputs\aar\library-debug.aar 了

[2019-10-16 12:28] huntersha commented on #140
I have the same question.

[2019-11-05 09:13] pzienowicz commented on #148
Thank you!

[2019-11-05 09:13] #148 closed

[2019-11-07 08:48] lmcjava opened #150 "版本最大支持26 尴尬用不了"

[2019-11-07 09:25] lmcjava commented on #145
i don't know -!-

[2019-11-07 09:30] lmcjava commented on #150
i can't use this library ,my sdk version is 28 .

[2019-11-16 09:08] StudyAbc opened #151 "AndroidX"
it  not suport  androidx

[2019-12-14 00:44] 297179121 opened #154 "support dialog mode?"

[2019-12-14 02:05] 297179121 commented on #151
+1

[2019-12-17 07:26] xiaoyan551 commented on #150
源码是支持28的，你可以试着在app的gradle文件中的 android {}中t添加下面代码

 compileOptions {
        sourceCompatibility = '1.8'
        targetCompatibility = '1.8'
    }

[2019-12-18 01:17] lmcjava commented on #150
好的收到

[2019-12-31 07:48] walle1988 opened #155 "1.4.4和1.4.5版本编译运行时会报错"
编译运行时会出现以下错误:
Java compiler:
com.android.builder.dexing.DexArchiveBuilderException: Failed to process D:\AS-Cache\.gradle\caches\transforms-1\files-1.1\nice-spinner-1.4.4.aar\fa7f2b2af8e33a7a6b215b7cc32b9967\jars\classes.jar |  
com.android.builder.dexing.DexArchiveBuilderException: Error while dexing. |  
com.android.tools.r8.CompilationFailedException: Compilation failed to complete |  
com.andr

[2020-01-14 01:37] BhoomiKhan opened #156 "list item Image"
How can i add an image with each list item? as we can add drawableLeft with EditText view

[2020-01-14 07:51] FOnlyJack commented on #140
再次调用attachDataSource,重新set数据

[2020-02-24 13:20] CharlesWWT opened #158 "android 5.1 the arrow not show"
I use vivoX6PlusL which version android 5.1,sometimes arrow not show,but same code i run motozplay which version android 8.0，it is show. And AndroidStudio Preview also show the arrow,its normal here is my xml code if you need the whole code i can send to your email <LinearLayout android:orientation="vertical" android:layout_width="match_parent" android:layout_height="80dp"> <org.angmarch.views.Nic

[2020-03-23 08:13] Annriy07 commented on #138
同问啊

[2020-03-30 11:26] ravidr opened #159 "arrow not rotating"

[2020-04-01 01:48] fanzhiqiang123 opened #160 "无法触发监听"
使用setSelectedIndex(int position)时，不会触发setOnSpinnerItemSelectedListener监听是什么原因

[2020-04-01 16:46] MohammadDesouky opened #161 "android:entries didn't work"
when I passed an array of strings from value.xml the spinner show no thing, please not I used:
        ```android:entries="@array/countries"```

[2020-04-06 00:16] tachyonlabs commented on #146
Having just done this myself, you use the `backgroundSelector` attribute. For example, in the drawable directory I created a file spinner_background_selector.xml with contents of
[code]
and in my layout file added this attribute to the spinners:
`app:backgroundSelector="@drawable/spinner_background_selector"`

[2020-04-06 04:44] zhushenwudi opened #162 "列表长度为0时，会出现adapter.getCount()为null（when the list's size equal 0, the project throw a exception that means adapter.getCount() is null）"
modify the NiceSpinner.java:
@Override
    public boolean onTouchEvent(MotionEvent event) {
        if (isEnabled() && event.getAction() == MotionEvent.ACTION_UP && adapter != null) {
            if (!popupWindow.isShowing() && adapter.getCount() > 0) {
                showDropDown();
            } else {
                dismissDropDown();
            }
        }
        return super.onTouchEvent(

[2020-05-22 07:45] ColdSongDvl commented on #146
If there are two NiceSpinners in the ui and use this property, it will cause arrow confusion

[2020-06-15 09:38] cuong292 commented on #159
got same issue

[2020-06-17 10:42] cuong292 commented on #136
the problem with this library is it default get the first item of list as selected item and the selected item will not be show in the dropdown or else it will throw an exception ( read the source code for more detail ).the solution is fork the library and custom it by your own

[2020-06-19 03:14] NSChris opened #165 "设置layout_height高度时，里面文字只显示一半"

[2020-06-20 13:21] npabion opened #166 "setSelectedIndex crash"
If the spinner uses a selected text formatter with a type, calling `setSelectedIndex` crashes:

[code]

Example:

[code]

The problem is `setSelectedIndex` calls `setTextInternal(selectedTextFormatter.format(adapter.getItemInDataset(position)).toString());` which then calls `setText(selectedTextFormatter.format(item));` but item is already a string and not the expected type.

[2020-06-25 12:51] mujtaba617 opened #167 "Unable to set background"
Tried giving it a 1dp rectangular background. Didn't work.

[2020-07-03 01:51] luncang commented on #162
当列表是空列表时，各种bug，我在自己修改

[2020-07-07 15:05] #167 closed

[2020-07-10 08:42] zhushenwudi commented on #162
各位，推荐用这个
https://github.com/jaredrummler/MaterialSpinner
暂时没有发现大问题

[2020-07-15 07:36] SopheapSK commented on #158
I also got this. Have you found the solution yet?

[2020-07-23 07:29] qwasnm789 opened #169 "Hey,guys.There's a very significant problem in this project."
why not add the refresh function.
this spinner cann't refresh the adapter.
again call the function 'attachDataSource' still cann't refresh the data.

[2020-07-23 08:19] qwasnm789 commented on #169
maybe version 1.4.5 has sth problem

[2020-07-24 05:12] aizizai commented on #138
同问，这个功能貌似很基本啊，怎么默认为空白内容？

[2020-07-24 09:23] aizizai opened #170 "can you add search function && show hint or nothing on start && select can be a panel not just a list!"
I think if it has the function above,it will be more than great!

[2020-08-20 09:52] ashish-dhiman-net commented on #65
` selectDivision.setText((selectDivisionSpinner.selectedItem as State).name)`

We can get selected item from spinner and cast it accordingly, after that we can use its properties

[2020-09-16 10:28] ashish-dhiman-net commented on #65
To programatically select an option and call its click listener, I added this library as module to my project so that I can edit its file.

 selectSiteSpinner.selectedIndex =0

        val fakeView = this.context?.let { FrameLayout(it) }
        selectSiteSpinner.onSpinnerItemSelectedListener.onItemSelected(
            selectSiteSpinner,
            selectSiteSpinner.adapter.getView(selectSiteSpi

[2020-10-15 07:57] MostafaGad1911 opened #174 "Spinner drop down arrow not localized"
How to change arrow position from right to left

[2020-10-30 08:00] skyhzx commented on #138
同問同問

[2020-11-03 08:12] nocrisis commented on #138
同问，有大佬支持一下吗

[2020-11-21 09:10] tbg1234567890 opened #175 "list列表数据count为1时，pop不弹出（版本1.4.5）"
经查看源码NiceSpinner发现：
1、在设置adapter的方法setAdapterInternal中，在1.4.5之前设置条件为adapter.getCount() > 0，现作者已改为adapter.getCount() > =0。
2、在方法onTouchEvent中，弹出条件仍为adapter.getCount() > 0，在数据长度为1时条件不成立，从而造成仍不弹窗

[2020-12-03 07:25] nocrisis commented on #166
METOO

[2020-12-03 09:36] KMing86 commented on #165
那是因为他使用了默认的padding~ 你点进去看源码~ 他默认读取dimens的值~ 叫one_and_a_half_grid_unit，你只需在你的dimens.xml文件里~ 把这个值定义成0就行了~ 当然，也可以定义成别的，这个就是padding的值。

[2020-12-03 09:41] 952366290 commented on #140
新数据集合等于1时，不会刷新的

[2020-12-03 09:46] KMing86 commented on #165
<?xml version="1.0" encoding="utf-8"?>
<resources>
    <dimen name="one_and_a_half_grid_unit">0dp</dimen>
</resources>
加上这个~ 其他的值同理。都能自定义~

[2020-12-09 06:31] fanqGithub commented on #166
代码下下来，修改下setTextInternal

[2020-12-14 06:43] nocrisis commented on #166
修改成什么

[2020-12-17 09:16] op123355569 commented on #175
理论上就是不弹窗的吧，弹窗列表会把选中项剔除，所以，只有一项的时候，并无带选项，所以应该无弹窗，就算有也是空的。

[2021-02-15 19:45] asknask commented on #119
@arcadefire Still getting this issue on 1.4.5 using the new `setOnSpinnerItemSelectedListener(parent, view, position, id)`.

Here's a summary of the issue:

My list has 'item 0' (at index 0, dropdown 0), 'item 1 (at index 1, dropdown 1)'.
When the screen loads, dropdown 0 is selected by default. Dropdown 1 has item 1. I select dropdown 1. Works normally.

However, when I click the dropdown again,

[2021-04-02 13:30] Shabinder commented on #170
WorkAround for **showing hint on startup** is to :
[code]

[2021-05-09 05:28] linrty commented on #138
可以setText("");

[2021-05-10 13:50] LastButNotLeast4Bing opened #178 "Manifest merger failed with multiple errors, see logs"
when I  just create a new project , I follow the "How to include" to  edit my build.gradle
[code]

and

`implementation 'com.github.arcadefire:nice-spinner:1.4.4'`

However , when I successfully sync it , and then I run for the  app , It show that Manifest merger failed with multiple errors, see logs.

Here is
[code]
[code]

maybe is just a silly problem , but i can‘t solve it ,can you help me?

[2021-06-08 09:21] yangyongzhen opened #179 "在双屏异Presentation中无法使用，无法弹出下拉框"
有个地方双屏异显用到了下拉列表这个功能，发现nice-spinner无论如何也弹不出下拉列表框。
这个原因可能是nice-spinner中使用的是PopupWindow,而Presentation本身是个dialog,　在dialog中无法使用PopupWindow,是这个原因吧？有没有解决办法呢，在Presentation中使用nice-spinner?

[2021-07-26 10:39] aashay5 opened #180 "Nice spinner reference cant be resolved in android studio"
I have added the dependency and repository but still I am unable to access nice spinner.
Error
`Cannot resolve class org.angmarch.views.NiceSpinner`

[2021-09-29 02:30] StoneBang commented on #138
niceSpinner.attachDataSource(cabinetListBean.getData());
  niceSpinner.setText("");

[2021-10-15 04:22] NicodeLee commented on #162
@zhushenwudi 这个自定义数据的List列表比较繁琐。需要自定义Adapter

[2021-11-04 07:53] jerrybi opened #181 "dropdown list overlap with anchor view when changing the anchor view background to a transparent image"
Hi, I set the background using a transparent png file, when pop up window showing,there is a redundant text appearing in the anchor view area,which has mixed to the anchor view text.if you lock phone screen and unlock again,the
redundant text will disappear,i don't know why this redundant text appear,nice spinner bug?list popup window bug?pop up window bug?the temporary solution is set a 300 milis

[2021-11-04 07:55] jerrybi commented on #181
![下拉框](https://user-images.githubusercontent.com/14073031/140277051-e2a228c0-871a-43e4-95dc-12eae9b05494.png)
Here is the screenshot,please see the red arrow text,it is the redundant text.

[2021-11-04 08:06] jerrybi commented on #181
By the way,this issue appears on Huawei P9(Android 8.0),my another phone Xiaomi 10(Android 10) doesn't have.i don't know if issue exists on other phones.

[2021-12-04 08:42] Jidcoo commented on #158
+1

[2022-02-04 13:32] smnspz commented on #180
Having the same error.

[2022-02-19 16:42] laraib07 commented on #180
Anyone got any solution yet?
Facing same error!

[2022-02-22 13:47] MAshhal commented on #180
facing the same error

[2022-02-22 14:21] laraib07 commented on #180
@MAshhal You can use https://github.com/skydoves/PowerSpinner instead.

[2022-03-06 21:51] domsebb opened #182 "/storage/emulated/0/qpython/scripts3/buildozer/scripts/client.py"

[2022-03-06 21:57] #182 closed

[2022-03-16 05:26] #145 closed

[2022-03-16 05:26] #146 closed

[2022-05-15 15:51] Blaze1404 commented on #180
Same problem here. PowerSpinner is not an option if you want to support API 16.

[2022-08-03 04:07] liu402883451 commented on #138
setText("")不行、数据源也变了，第一次看不到第一项

[2022-08-03 04:13] linrty commented on #138
这是来自QQ邮箱的自动回复邮件。
 已收到。

[2022-09-13 11:21] Rabbit95 commented on #129
不想引入源码的话，copy布局文件：“spinner_list_item.xml”，到自己的layout文件夹，然后修改字体大小就可以了。

[2022-11-11 10:48] GAOli-cong opened #183 "When I set a custom arrow with arrowDrawable, the arrow does not rotate during operation. What is the problem?"
When I set a custom arrow with arrowDrawable, the arrow does not rotate during operation. What is the problem?